* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.center-block {
    width: 75%;
    margin: auto;
}

.logo img {
    width: 50%;
    margin-right: 40px;
}

nav ul,
.head-credits ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li,
.head-credits ul li { 
    list-style: none;
}

nav ul li a,
.head-credits ul li a {
    text-decoration: none;
}

.head-credits {
    justify-self: end;
    background-color: #0282f9;
    padding: 5px;
}

.head-credits li a {
    font-size: 12px;
    color: #ffffff;
    margin: 15px;
}

.spacing {
    width: 70%;
}

nav ul {
    padding: 0 0 0 160px;
}

nav li {
    padding: 20px 0 10px 0;
    margin-right: 25px;
}

nav li a {
    color: #484848;
    font-weight: 800;
    font-size: 14px;
    padding-bottom: 45px;
}

nav li a:hover {
    color: #0282f9;
    border-bottom: 5px solid #0282f9;
    transition: 0.3s;
}

#shop {
    position: relative;
}

#shop i {
    color: #0282f9;
}

.dropdown {
    position: absolute;
    padding: 5px;
    background-color: lightgrey;
    color: #252525;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
}

.dropdown:hover {
    opacity: 1;
}

.dropdown p {
    margin-bottom: 5px;
}

.search {
    margin-left: 50px;
}

.search i:hover {
    color: #0282f9;
}

input {
    width: 60%;
    border: none;
    border-bottom: 2px solid #0282f9;
}

.hero {
    background-image: url('/images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 200px;
    margin-top: 15px;
}

footer .top {
    background-image: url('/images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 0;
}

.top .center-block {
    display: flex;
    flex-direction: row;
}

.top ul {
    list-style: none;
    margin: 0 50px 30px 0;
}

.top h3 {
    color: white;
    margin-bottom: 15px;
}

.top li a {
    text-decoration: none;
    color: grey;
    font-size: 11px;
}

.top li a:hover {
    color: #0282f9;
    transition: 0.1s;
}

.copyright p,
.copyright i {
    color: grey;
    font-size: 11px;
}

.copyright span {
    color: #0282f9;
}

.dc-footer {
    margin-left: 50px;
}

footer .bottom {
    background-color: #252525;
    padding: 30px 0;
}

.bottom .center-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom button {
    background-color: transparent;
    border: 3px solid #0282f9;
    padding: 10px 20px;
    color: white;
}

.bottom button:hover {
    background-color: #0282f9;
    transition: 0.3s;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-icons h3 {
    color: #0282f9;
    margin-right: 20px;
}

.footer-icons img {
    margin-left: 15px;
}

.welcome{
    color: #0282f9;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    padding-top: 50px;
}

.comics-container {
    position: relative;
    background-color: #1c1c1c;
    color: white;
    padding: 60px 0 20px;
}

.comics-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
}

.card {
    width: 15%;
    margin-bottom: 60px;
}

.card img {
    width: 100%;
    max-height: 250px;
}

.series {
    position: absolute;
    top: -25px;
    width: 16%;
    padding: 10px 0 10px 40px;
    color: white;
    background-color: #0282f9;
    border: 1px solid #121212;
}

.load {
    display: flex;
    justify-content: center;
}

.load button {
    padding: 5px 35px;
    color: white;
    background-color: #0282f9;
}

.load button:hover {
    background-color: #164a7b;
    transition: 0.2s;
}

.main-icons {
    background-color: #0282f9;
}

.main-icons .center-block {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 60px 0;
    color: white;
}

.main-icons img {
    width: 5%;
    margin-left: 45px;
    margin-right: 5px;
}

.characters-container{
    width: 100%;
    max-width: 2000px;
    padding: 50px 0;
}

.characters-container img{
    width: 100%;
}