* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.center-block {
    width: 75%;
    margin: auto;
}

.logo img {
    width: 50%;
    margin-right: 40px;
}

nav ul,
.head-credits ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li,
.head-credits ul li {
    list-style: none;
}

nav ul li a,
.head-credits ul li a {
    text-decoration: none;
}

.head-credits {
    justify-self: end;
    background-color: #0282f9;
    padding: 5px;
}

.head-credits li a {
    font-size: 12px;
    color: #ffffff;
    margin: 15px;
}

.spacing {
    width: 70%;
}

nav ul {
    padding: 0 0 0 160px;
}

nav li {
    padding: 20px 0 10px;
    margin-right: 25px;
}

.nav-link {
    color: #484848;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 45px;
}

.nav-link:hover {
    color: #0282f9;
    border-bottom: 5px solid #0282f9;
    transition: 0.3s;
}

#shop {
    position: relative;
}

#shop i {
    color: #0282f9;
}

.dropdown {
    position: absolute;
    padding: 5px;
    background-color: lightgrey;
    color: #252525;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
}

.dropdown:hover {
    opacity: 1;
}

.dropdown p {
    margin-bottom: 5px;
}

.dropdown p:hover {
    color: #0282f9;
}

.search {
    margin-left: 50px;
}

.search i:hover {
    color: #0282f9;
}

input {
    width: 60%;
    border: none;
    border-bottom: 2px solid #0282f9;
}

.hero {
    background-image: url('/images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 200px;
    margin-top: 15px;
}

footer .top {
    background-image: url('/images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 0;
}

.top .center-block {
    display: flex;
    flex-direction: row;
}

.top ul {
    list-style: none;
    margin: 0 50px 30px 0;
}

.top h3 {
    color: white;
    margin-bottom: 15px;
}

.top li a {
    text-decoration: none;
    color: grey;
    font-size: 11px;
}

.top li a:hover {
    color: #0282f9;
    transition: 0.1s;
}

.copyright p,
.copyright i {
    color: grey;
    font-size: 11px;
}

.copyright span {
    color: #0282f9;
}

.dc-footer {
    margin-left: 50px;
}

footer .bottom {
    background-color: #252525;
    padding: 30px 0;
}

.bottom .center-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom button {
    background-color: transparent;
    border: 3px solid #0282f9;
    padding: 10px 20px;
    color: white;
}

.bottom button:hover {
    background-color: #0282f9;
    transition: 0.3s;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-icons h3 {
    color: #0282f9;
    margin-right: 20px;
}

.footer-icons img {
    margin-left: 15px;
}

.welcome {
    color: #0282f9;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    padding-top: 50px;
}

.welcome img {
    width: 100%;
    margin-top: 50px;
}

.comics-container {
    position: relative;
    background-color: #1c1c1c;
    padding: 60px 0 20px;
}

.comics-container a {
    text-decoration: none;
    color: white;
}

.comics-container a:hover {
    color: #0282f9;
}

.comics-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
}

.card {
    width: 15%;
    margin-bottom: 60px;
}

.card img {
    width: 100%;
    max-height: 250px;
}

.series {
    position: absolute;
    top: -25px;
    width: 16%;
    padding: 10px 0 10px 40px;
    color: white;
    background-color: #0282f9;
    border: 1px solid #121212;
}

.load {
    display: flex;
    justify-content: center;
}

.load button {
    padding: 5px 35px;
    color: white;
    background-color: #0282f9;
}

.load button:hover {
    background-color: #164a7b;
    transition: 0.2s;
}

.main-icons {
    background-color: #0282f9;
}

.main-icons .center-block {
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: 60px 0;
    color: white;
}

.main-icons img {
    width: 5%;
    margin-left: 45px;
    margin-right: 5px;
}

.container {
    width: 100%;
    max-width: 2000px;
    padding: 50px 0;
}

.container img {
    width: 100%;
}

.video-slider {
    position: relative;
}

.spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
}

.loading-container {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 8px solid lightgray;
    border-radius: 50%;
}

.loading {
    position: relative;
    left: -8px;
    top: -8px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: #164a7b;
    animation: loading 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@keyframes loading {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.spinner:hover {
    opacity: 1;
}

.banner {
    background-color: #0282f9;
    padding: 30px;
}

.title h1,.description p {
    color:  #003f5e;
    margin-bottom: 20px;
}

.comic-card {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.poster{
    width: 21%;
    position: relative;
    background-color: #49944b;
}

.poster img {
    position: absolute;
    bottom: 85px;
    border: 1px solid white;
}

.view,.book{
    text-align: center;
    position: absolute;
    left: 1px;
    color: white;
    background-color: #52acff;
    font-size: 12px;
    padding: 5px;
}

.book {
    width: 50%;
    bottom: 350px;
}

.view {
    width: 100%;
    bottom: 86px;
}

.view:hover, .book:hover{
    background-color: #0282f9;
    transition: 0.2s;
}

.specifics,.green-banner,.cost {
    display: flex;
    flex-direction: row;
}

.price {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #55ba59;
    border-bottom: 1px solid #484848;
    padding: 10px 30px;
    font-size: 14px;
    color: white;
}

.price p {
    color: #a9f999;
    margin-right: 5px;
}

.check button {
    background-color: #55ba59;
    border-bottom: 1px solid #484848;
    padding: 10px 30px;
    color: white;
}

.check button:hover {
    background-color: #49944b;
    transition: 0.2s;
}

.description {
    margin-top: 20px;
    width: 96%;
}

.adv strong {
    color: #484848;
    margin-left: 55%;
}

.grey-section{
    background-color: #f6f6f6;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.table,.artists {
    display: flex;
    flex-direction: row;
}

.talent{
    width: 55%;
}

.specs{
    width: 45%;
}

.artists, .writers{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 5px 0;
    border-top: 1px solid lightgrey;
}

.artists{
    margin-top: 20px;
}

.writers{
    border-bottom: 1px solid lightgrey;
}

.table h2 {
    color: #003f5e;
}

.table strong{
    color:#003f5e;
    font-size: 14px;
}

.list{
    width: 65%;
    color: #0282f9;
    font-size: 11px;
}

.data{
    width: 65%;
    color: #003f5e;
    font-size: 11px;
}

